/*
!/.gitignore
!/README.md
!/LICENSE
!/ASSETS.md
!/LICENSES/
!/LICENSES/**
!/install.sh
!/uninstall.sh
!/look-and-feel/
!/look-and-feel/io.github.fizzy444.winterlock/
!/look-and-feel/io.github.fizzy444.winterlock/**
!/shells/
!/shells/org.kde.plasma.desktop/
!/shells/org.kde.plasma.desktop/**
