/*
!/.gitignore
!/README.md
!/look-and-feel/
!/look-and-feel/org.mithun.winterlock/
!/look-and-feel/org.mithun.winterlock/**
!/shells/
!/shells/org.kde.plasma.desktop/
!/shells/org.kde.plasma.desktop/**
